@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.canvas_container {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
}

.canvas {
  background: #9BB7AC;
  border: 5px solid black;
}

.score_container {
  height: 100%;
  max-height: 630px;
  width: 200px;
  background: #9BB7AC;
  display: flex;
  flex-direction: column;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.score_container__item  {
  font-size: 30px;
  margin: 20px;
  width: 100%;
}
