@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.canvas_container {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
}

.canvas {
  background: #9BB7AC;
  border: 5px solid black;
}

.score_container {
  height: 100%;
  max-height: 630px;
  width: 200px;
  background: #9BB7AC;
  display: flex;
  flex-direction: column;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.score_container__item  {
  font-size: 30px;
  margin: 20px;
  width: 100%;
}

.start_button_container {
  width: 510px;
  height: 630px;
  background: #9BB7AC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

.start_button {
  width: 300px;
  height: 100px;
  text-decoration: none;
  text-align: center;
  padding: 11px 19px;
  border: solid 1px #005072;
  border-radius: 4px;
  font: 35px Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: #e5ffff;
  background:#0062ec;
  box-shadow:0 0 2px #bababa, inset 0 0 1px #ffffff;
  &:hover {
    cursor: pointer;
  }
}




.hidden {
  display: none;
}
